
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-inverse" style="background-color: rgba(211,211,211,0.9)">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'gram:welcome' %}"><img src="https://cdn.neow.in/news/images/uploaded/2017/09/1506362527_instagram_logo_story.jpg" height=70px
          weight=180px></a>
      </div>
  
        <a href="{%url 'gram:new-post' %}" style="font-family: serif; color:rgb(0,0,54);font-weight: bold">Add Post</a>
        <a href="{%url 'gram:profile' %}" style="font-family: serif; color: rgb(0,0,54);font-weight: bold"><img src="https://image.flaticon.com/icons/png/128/149/149071.png" height="40px" weight="40px"> Profile</a>
      <form  action="{% url 'gram:logout' %}" method="post">
        {%csrf_token%}
        <a href="{%url 'gram:login' %}" style="font-family: serif; color:rgb(0,0,54);font-weight: bold"><img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png" height="30px" weight="30px">Logout</a>
    </form>
    </div>
    </div>
  </nav>





